.inverse-section {
    display: flex;
    align-content: center;
    color:whitesmoke;
    background-color: darkslategray;
}
.light-section {
    color: black;
    background-color: lightblue;
}
.quote-section {
    color: darkslategray;
    background-color: lightslategray;
}