.flex-container {
    display:flex;
}
.flex-container div {
    background: rgb(192, 104, 104);
    border: 10px solid black;
    height: 20px;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}
.item {
    background: darkturquoise;
    height: 10px;
    flex: 1;
    padding: 2px;
}