.section-one {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    color:whitesmoke;
    background-color: darkslategray;
}

.light-section {
    color: black;
    background-color: lightblue;
}
.quote-section {
    color: darkslategray;
    background-color: lightslategray;
}