html{
    background-color: mistyrose;
color: darkslategray;
font-size: 24pt;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
}
div {color: darkslateblue;}
.alert-text {
    color:darkslateblue;
  }
.list {
    background-color: skyblue;
    text-align: left;}
.flex-container {
    display:flex;
}
.flex-container div {
    background: lightgray;
    border: 10px solid black;
    height: 20px;
    flex: 1;
}